<div class="stretch">
<h1>Users In Your Area</h1>







<% if first_one? %>
<p>Well you're the first one here. </p><br><br>
<% else %>
<h2>There are <%= User.where(zip_code: current_user.zip_code).count %> registered users in zip code <%= current_user.zip_code %> </h2>


<p>The following communities have been registered in your zip code:</p><br><br>

<ul>
<% User.where(zip_code: current_user.zip_code).sort { |a,b| a.community_name <=> b.community_name }.each do |user| %>
<% unless user.community_name.blank? %>
<li>
<%= link_to user.community_name, user %>
<%= user.first_name %><br><br>
</li>
<% end %>
<% end %>
</ul>



<p>Users in your zip code also live in the following areas:</p><br><br>

<ul>
<% User.where(zip_code: current_user.zip_code).sort { |a,b| a.address_line_one <=> b.address_line_one }.each do |user| %>
<% if user.community_name.blank? %>
<li>
<%= link_to user.address_line_one %>
<%= user.first_name %><br><br>
</li>
<% end %>
<% end %>
</ul>
<% end %>




</div>



</div>