<div class="stretch">

<h1>Your Account</h1>

<%= @user.email %><br><br>
<%= @user.first_name %> <%= @user.last_name %><br><br>
<%= @user.address_line_one %><br><br>
<% unless @user.address_line_two.blank? %>
<%= @user.address_line_two %><br><br>
<% end %>
<%= @user.city %>, <%= @user.state %> <%= @user.zip_code %><br><br>


<% if @user.community_id.blank? %>
<p>You haven't registered a community yet! </p><br><br>
<% else %>
<p><%= @user.community_id %></p><br><br>
<p>You are a resident of: <%= @user.community.community_name %></p><br><br>
<% end %>



<%= link_to "Edit Your Profile", edit_user_path(current_user) %><br>
<li><%= link_to "All Users", users_path %></li><br>
<%= link_to "Log out", logout_path, method: :delete %>

</div>