<div class="stretch">

<h1><%= @community.community_name %> - <%= @community.community_city %></h1>


<p><%= @community.community_name %></p>
<p><%= @community.community_address %></p>
<p><%= @community.community_city %>, <%= @community.community_state %> <%= @community.community_zip %></p><br><br><br><br><br><br><br>



<p><%= @community.id %></p>
<p><%= @user.id %></p>
<p><%= @user.community_id %></p><br><br>





<%= link_to "Join the commmm", user_in_it_path(@user, :community_id => @community.id), method: 'post' %><br><br><br><br><br><br><br><br><br><br>






</div>