<div class="stretch">

<h1><%= @community.community_name %> - <%= @community.community_city %></h1>


<p><%= @community.id %></p>
<p><%= @user.id %></p>
<p><%= @user.community_id %></p><br><br>





<%= link_to "Join the commmm", user_in_it_path(@user, :community_id => @community.id), method: 'post' %><br><br><br><br><br><br><br><br><br><br>




<%= link_to "Edit Your Profile", edit_user_path(current_user) %><br>
<li><%= link_to "All Users", users_path %></li><br>
<%= link_to "Log out", logout_path, method: :delete %>

</div>