<div class="stretch">

<h1><%= @community.community_name %> - <%= @community.community_city %></h1>


<p><%= @community.community_name %></p>
<p><%= @community.community_address %></p>
<p><%= @community.community_city %>, <%= @community.community_state %> <%= @community.community_zip %></p><br>


<p>Number of registered residents: <%= User.where(community_id: @community.id ).count %></p><br><br>


<% if in_this_community? %>

  <% if all_alone? %>
    <p>You're the first one here! </p><br><br>
  <% else %>
  <h2>Choose the person who lives closest to you</h2>
    <ul>
    <% User.where(community_id: @community.id).each do |user| %>
      <li>
      <%= link_to user.first_name, user_path(user) %> <%= link_to user.last_name[0,1], user_path(user) %><br>
      <%= user.address_line_one %><br>
      <%= user.city %>, <%= user.state %> <%= user.zip_code %><br><br>
      </li>
    <% end %>
     </ul>
  <% end %>




<% else %>

  <%= button_to "Join This Community", user_in_it_path(@user, :community_id => @community.id), :class => 'altbtn altbtn-lg altbtn-outline', method: 'post' %><br><br><br>

<% end %>

<p><%= link_to "View Other Communities", communities_path %></p><br><br><br><br><br><br><br>




<p><%= @community.id %></p>
<p><%= @user.id %></p>
<p><%= @user.community_id %></p><br><br>
<br><br><br><br><br><br>

</div>